@{
    ViewData["Title"] = "Home";
}

<h1>Welcome, @ViewBag.Username!</h1>

<p>This is your homepage. You can navigate to other sections from here.</p>

<a href="/Trainings/Create">Create Training</a><br />

<a href="/Home/Logout">Logout</a>
