@{
    ViewData["Title"] = "Home";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <h1 class="display-4">Welcome, @ViewBag.Username!</h1>
            <p class="lead">This is your homepage. You can navigate to other sections from here.</p>
            <hr />
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Manage Training</h5>
                    <p class="card-text">Plan a new trainings, edit and delete it</p>
                    <a href="/Trainings/Index" class="btn btn-primary">Manage Trainings</a>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Manage Attendance</h5>
                        <p class="card-text">Manage Attendances tables create, view, edit and delete</p>
                        <a href="/Attendance/Index" class="btn btn-primary">Manage Attendance</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Logout</h5>
                        <p class="card-text">Click below to log out of the application securely.</p>
                        <a href="/Home/Logout" class="btn btn-danger">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
