@model IEnumerable<SwimTrainingApp.Models.Training>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Training Management</h2>

<div class="list-group">
    <a href="@Url.Action("Create", "Trainings")" class="list-group-item list-group-item-action btn btn-primary">
        Create Attendance Table
    </a>
    <a href="@Url.Action("Details", "Trainings")" class="list-group-item list-group-item-action btn btn-info">
        View Attendance Table
    </a>
    <a href="@Url.Action("Edit", "Trainings")" class="list-group-item list-group-item-action btn btn-warning">
        Edit Attendance Table
    </a>
    <a href="@Url.Action("Delete", "Trainings")" class="list-group-item list-group-item-action btn btn-danger">
        Delete Attendance Table
    </a>
</div>

