@model IEnumerable<SwimTrainingApp.Models.Training>

<table>
    <thead>
        <tr>
            <th>Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var training in Model)
        {
            <tr>
                <td>@training.Date.ToShortDateString()</td>
                <td>
                    <a asp-action="Details" asp-route-id="@training.Id" class="btn btn-info">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
