@model IEnumerable<SwimTrainingApp.Models.Training>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Training Management</h2>

<ul class="list-group">
    <li class="list-group-item">
        <a asp-action="Create" class="btn btn-primary">Create Training Table</a>
    </li>
    <li class="list-group-item">
        <a asp-action="Details" class="btn btn-info">View Training Table</a>
    </li>
    <li class="list-group-item">
        <a asp-action="Edit" class="btn btn-warning">Edit Training Table</a>
    </li>
    <li class="list-group-item">
        <a asp-action="Delete" class="btn btn-danger">Delete Training Table</a>
    </li>
</ul>

