@model IEnumerable<SwimTrainingApp.Models.Training>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Training Management</h2>

<div class="list-group">
    @if (User.IsInRole("Admin") || User.IsInRole("Coach") || User.IsInRole("Athlete"))
    {
        <a href="@Url.Action("Details", "Trainings")
        " class="list-group-item list-group-item-action btn btn-info">
            View Training Table
        </a>
    }
    @if (User.IsInRole("Admin") || User.IsInRole("Coach"))
    {
        <a href="@Url.Action("Edit", "Trainings")
        " class="list-group-item list-group-item-action btn btn-warning">
            Edit Training Table
        </a>
        <a href="@Url.Action("Create", "Trainings")" class="list-group-item list-group-item-action btn btn-primary">
            Create Training Table
        </a>
        <a href="@Url.Action("Delete", "Trainings")
        " class="list-group-item list-group-item-action btn btn-danger">
            Delete Training Table
        </a>
    }
</div>

